@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'vazir';
  font-weight: normal;
  src: local('vazir'), url(/assets/fonts/Vazir-FD-WOL.ttf) format('ttf');
  font-display: swap;
}

:root {
  font-family: 'vazir';
  line-height: 1.5;
  color-scheme: light dark;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  direction: rtl;
}

#root{
  height: 100vh;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
